<!DOCTYPE html>
<html>
  <head>
    <title>Accounting</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Accounting</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <% if session[:company_id] %>
              <li class="nav-item">
                <span class="nav-link">Logged in as: <%= Company.find(session[:company_id]).name %></span>
              </li>
              <li class="nav-item">
                <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Login", login_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
